//= require bootstrap/css/bootstrap.css
//= require bootstrap/css/bootstrap-theme.css

header {
  margin-top: 1em;
}
.contribution {
  border-bottom: 1px solid #999;
}

.contribution .contributions {
  margin-left: 30px;
  background-color: orange;
}

.contribution-content {
  border-top: 1px solid black;
  margin: 30px 0;
}

