//= require bootstrap/css/bootstrap.css
//= require bootstrap/css/bootstrap-theme.css

header {
  margin-top: 1em;
}

.contribution {
  margin: 10px 0;
}

.contribution {
  .contributions {
    .contribution {
      border-left: 4px solid pink;
      padding-left: 5px;
    }
  }
}

.contribution-content {
  border-top: 1px solid black;
  margin: 30px 0;
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  opacity: 0.5;
}
