//= require normalize
//= require font-awesome/css/font-awesome

@import 'compass/utilities/general/clearfix';
@import 'variables';

body {
  background-color: #FFF;
  padding: 0.7em;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
}

header {
  @include pie-clearfix;
}

h1 {
  margin: 0 0 0.33em 0;
  font-size: 1.5em;
  font-weight: 500;
}

h2 {
  margin: 0 0 .33em 0;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  color: $darkGray;
  text-decoration: underline;
}

p {
}

.hide {
  display: none;
}

.created-date {
  color: $darkGray
}

.account {
  float:right;
  &, a {
    color: $gray;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .caret {
    &, &:hover {
      text-decoration: none;
    }
    &.active {
      color: $lightBlue;
    }
  }
  .account-information {
    position: relative;
    .account-links {
      position: absolute;
      top: 100%;
      right: 0;
      list-style-position: outside;
      list-style-type: none;
      text-align: right;
      margin: 3px 0 0;
      border: 1px solid $gray;
      border-collapse: collapse;
      padding: 0;
      width: auto;
      li {
        border-bottom: 1px solid $gray;
        box-sizing: border-box;
        height: 25px;
        line-height: 25px;
        &:last-child {
          border-bottom: 0 none;
        }

        a {
          display: block;
          height: 100%;
          background-color: white;
          padding: 0 8px;
          &:hover {
            background-color: $lightBlue;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.conversation {
  .authoring-information {
    .authoring-information-primary {
      line-height: 17px;
    }
  }
}

.contribution {
  padding: 1.5em 0;
  overflow-x: scroll;
  border-bottom: 1px solid $lightGray;
  &:last-child {
    border-bottom: 0 none;
  }
  header {
    margin: 0;
  }
  .content {
    overflow: hidden;
  }
  .created-date {
    &:before {
      content: '|';
      display: inline-block;
      margin: 0 5px 0 3px;
    }
  }
  .contributions-list {
    background-color: $nestedContributionBackground;
    padding: 0 1em;
  }
  .contribution {
  }
}

.comment-meta {
  text-align: right;
  margin-bottom: 20px;
  &, a {
    color: $gray;
  }
  a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid $gray;
    }
  }
}

.contribution-content {
  border-top: 1px solid black;
  margin: 30px 0;
}

.actions {

  > a {
    display: inline-block;
    color: $lightGray;
    &:hover {
      color: $gray;
    }
  }
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  opacity: 0.5;
}

.user-avatar {
  width: 34px;
  height: 34px;
  overflow: hidden;
  float: left;
  margin-right: .5em;
  img {
    width: 100%;
    height: auto;
  }
}
.user {
  display: inline;
  &, a {
    color: $darkGray;
    text-decoration: none;
    font-weight: bold;
  }
}


.contribute {
  .form {
    overflow-x: hidden;
  }
  .body {
    margin-bottom: 5px;
    border: 2px solid $lightGray;
    border-radius: 2px;
    outline: none;
    min-height: 3em;
  }
}

.scroll {
  height: 330px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    background-color: $nestedContributionBackground;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border: 2px solid $gray; /* should match background, can't be transparent */
    background-color: $gray
  }

}

.btn {
  display: inline-block;
  height: 25px;
  padding: 0 10px;
  line-height: 25px;
  border: 0 none;
  background-color: $loadMoreButtonColor;
  font-weight: bold;
  &, a {
    color: $lightBlue;
    text-decoration: none;
  }

  &.btn-center {
    margin: 0 auto;
  }
  &.btn-block {
    display: block;
  }

  &.btn-submit {
    background-color: $lightBlue;
    color: white;
  }
}

load-more-contributions {
  text-align: center;
  display: block;
}

.ta-root {
  .ta-toolbar {
    line-height: 35px;
    display: block;
    border-bottom: 1px solid $lightGray;
    .ta-button-group {
      margin: 0 5px;
    }
    .ta-button {
      border: 0;
      padding: 0 0.5em;
      background-color: transparent;
      color: $editorIconColor;
    }
  }
  .ta-editor {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }

  .ta-scroll-window.form-control,
  .ta-root.focussed .ta-scroll-window.form-control,
  .ta-editor.ta-html,
  .ta-scroll-window > .ta-bind {
    min-height: 0;
  }

  .ta-scroll-window {
    // override min-heights
    > .ta-bind {
      padding: 6px;
      > p:first-child {
        margin-top: 0;
      }
    }
  }

  &.focussed {
    .ta-scroll-window {
      &.form-control {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
