//= require reset
//@import "compass/css3/inline-block";

header {
  margin-top: 1em;
}

.contribution {
  margin: 10px 0;
}

.contribution {
  overflow-x: scroll;
  header {
    margin: 0;
  }
  .content {
    overflow: hidden;
  }
  .contribution {
    background-color: #f7f7f7;
  }
}

.contribution-content {
  border-top: 1px solid black;
  margin: 30px 0;
}

.actions {
  .reply {
    background-image: image-url('icons-svg/reply.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
  }
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  opacity: 0.5;
}

.user-avatar {
  width: 40px;
  float: left;
  margin-right: .5em;
}
.user {
  display: inline;
}

.new-contribution {
  .body {
    border: 1px solid #AAA;
    outline: none;
    min-height: 3em;
    padding: 3px;
  }
}
