$fontFamilyBase: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSizeBase: 14px;

$lightBlue: #00acec;
$blue: #0066cc;
$darkGray: #666;
$gray: #999;
$lightGray: #CCC;

$nestedContributionBackground: #F7F7F7;
$loadMoreButtonColor: #E7E7E7;
