<section>
	<%= sanitize @conversation.summary %>

	<% if !@conversation.starter.blank? %>
		<div class="convo-starter">
			<h2>Conversation Starter</h2>
			<%= sanitize @conversation.starter %>
		</div>
	<% end %>
</section>