<section>
  <div class="row">
    <% if @conversation.image.present? %>
      <div class="convo-img">
        <%= image_tag @conversation.image.url(:panel) %>
      </div>
    <% end %>
    <%= simple_format @conversation.summary %>
  </div>

  <% if !@conversation.starter.blank? %>
    <div class="row">
      <div class="convo-starter">
        <h2>Conversation Starter</h2>
        <%= sanitize @conversation.starter %>
      </div>
    </div>
  <% end %>
</section>
