@import "variables";

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

body.private_labels.admin {
    .header-second{
        padding-top: 60px;
        padding-bottom: 10px;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
        background-color: $green;

    }
    .pl-content{
        a{
            color: $darkGray;
            &:hover{
                color: #000;
            }
        }    
        .page-header{
            margin-top: 0;
            letter-spacing: 1px;
        }
    }  
}

.conversations-table,
.pages-table {
  thead, tbody {
    tr {
      th:first-child, td:first-child {
        min-width: 300px;
      }
    }
  }
}
