/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*=require private_label/header
*=require private_label/main-image
*=require private_label/content-area
*=require private_label/sidebar
*=require private_label/footer


*/
*{
	&:focus{
		outline: none;
	}
}
html, body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #f5f5f5;
}
.pl-content{
	min-height: 100%;
}
h2{
	color: #9cbe15;
	font-size: 20px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}