@import "compass/css3/inline-block";
@import "variables";

.content-area{
	section{
    &.static-page{
      color: $darkGray;
      h1,h2,h3,h4,h5,h6{
        color: $darkGray;
      }
    }
		background-color: #fff;
		height: auto;
		margin-bottom: 30px;
		padding: 25px;
    .convo-starter{
      background-color: $lightGray;
      padding: 20px;
      margin-top: 20px;
      color: $darkGray;
      font-size: 16px;
      h2{
        font-size: 20px;
        color: $darkGray;
        border-bottom: 2px solid $gray;
        line-height: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    }
		&.top-level-contribution{
			border-left: 5px solid $green;
			margin-bottom: 10px;
		}
		&.contribution-reply{
			border-left: 15px solid $midGray;
			margin-bottom: 10px;
		}
    	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    
		.user-image{			
			display: inline-block;
			
			img{
				border-radius: 45px;
				height: 90px;
				width: 90px;
				border: 2px solid $midGray;
				overflow: hidden;
			}
		}		
			.editable{
				padding-top: 15px;
        position: relative;
        .pre-actions{
          position: absolute;
          right: 0;
          padding-right: 10px;
          /* Firefox */
          top: -moz-calc(50% - 10px);
          /* WebKit */
          top: -webkit-calc(50% - 10px);
          /* Opera */
          top: -o-calc(50% - 10px);
          /* Standard */
          top: calc(50% - 10px);
          a{
            display: inline-block;
            padding: 0 5px;
            color: $midGray;
            &:hover{
              color: darken($midGray, 10%);
            }
          }
        }
				textarea{
					width: 100%;
					resize: none;
					line-height: 60px;
					padding-left: 20px;
					font-family: 'OpenSans', sans-serif;
					font-size: 15px;
					color: #3a3a3a;
				}
			}
			.contribution-attachments{
				border-bottom: 1px solid #a7a7a7;
				border-left: 1px solid #a7a7a7;
				border-right: 1px solid #a7a7a7;
				min-height: 25px;
				padding: 10px;
				.help-text{
					font-family: 'OpenSans', sans-serif;
					font-size: 12px;
					color: $midGray;
					display: inline;
				}
				input{
					display: inline;
					width: 200px;
				}
			}
			.contribute-actions{
				padding-top: 15px;
			}
		}
	.conversation-contributions{
		.contribution-container{
			padding: 0 10px;
			.contribution-header{
				padding: 15px 0;
				color: $green;	
				line-height: 30px;
				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				text-transform: uppercase;
				border-bottom: 1px solid $midGray;
				a{
					color: $green;	
					text-decoration: none;
					&:hover{
						color: darken($green, 5%);
						text-decoration: none;
					}
				}
        i{
          color: $midGray;
          vertical-align: sub;
        }
				.header-icon{
					margin: 0 10px;
          i{
            color: $green;
            &:hover{
              color: darken($green, 5%);
            }
          }
				}
				img{
					margin-right: 3px;
          vertical-align: sub;
				}
				.contribution-info{
					border-right: 1px solid $midGray;
					span{
            margin-right: 10px;
            &:first-child{
              margin-left: 5px;
            }
            &:last-child{
              margin-right: 0;
            }
          }
				}
			}
			.contribution-content{
				padding-top: 15px;
				font-size: 15px;
				color: $darkGray;
				line-height: 26px;
			}
			

		}
	}
}
.private_labels-homepage{
  .content-area{
    section{
      padding: 0;
      .section-img{
        img{
          width: 100%;  
        }
        
      }
      .section-content{
        padding: 10px 25px 25px;
        a{
          color: $green;
          h4{
            
            font-size: 21px;
            line-height: 30px;
          }
          &:hover{
            color: darken($green, 5%);
            text-decoration: none;
          }
        }
        .conversation-info{
          color: $green; 
          span{
            margin-right: 10px;
          }
        }
        .photobank{
          text-align: center;
          padding-top: 20px;
          padding-bottom: 10px;
          .user-image{      
            display: inline-block;
            
            img{
              border-radius: 20px;
              height: 40px;
              width: 40px;
              border: 2px solid $midGray;
              overflow: hidden;
            }
          }
          .carousel-control{
            color: rgba(0,0,0,.5);
            /* Firefox */
            top: -moz-calc(50% - 10px);
            /* WebKit */
            top: -webkit-calc(50% - 10px);
            /* Opera */
            top: -o-calc(50% - 10px);
            /* Standard */
            top: calc(50% - 10px);
            z-index: 5;
            display: inline-block;
            height: 20px;
            width: auto;
            &:hover, &:focus{
              color: rgba(0,0,0,.5);
              opacity: 0.9;
              filter: alpha(opacity=90);
            }
            &.right{
              right: -15px;
            }
            &.left{
              left: -15px;
            }
          }
          .col-md-4{
            padding: 0 5px;
          }
        }
      }
    }  
  }
  
}
@media all and (max-width: 992px){
  .content-area{
    section{
      .editable{
        padding-top: 5px;
      }
      .user-image{
        img{
          height: 70px;
          width: 70px;
          border-radius: 35px;
        }
      }
    }
  }
}