@import "compass/css3/inline-block";
@import "variables";

.content-area{
	section{
		background-color: #fff;
		height: auto;
		margin-bottom: 30px;
		padding: 25px;
		&.top-level-contribution{
			border-left: 5px solid #a7c530;
			margin-bottom: 10px;
		}
		&.contribution-reply{
			border-left: 15px solid #dddddd;
			margin-bottom: 10px;
		}
    	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    
		.user-image{			
			display: inline-block;
			
			img{
				border-radius: 45px;
				height: 90px;
				width: 90px;
				border: 2px solid #999999;
				overflow: hidden;
			}
		}		
			.editable{
				padding-top: 15px;
				textarea{
					width: 100%;
					resize: none;
					line-height: 60px;
					padding-left: 20px;
					font-family: 'OpenSans', sans-serif;
					font-size: 15px;
					color: #3a3a3a;
				}
			}
			.contribution-attachments{
				border-bottom: 1px solid #a7a7a7;
				border-left: 1px solid #a7a7a7;
				border-right: 1px solid #a7a7a7;
				min-height: 25px;
				padding: 10px;
				.help-text{
					font-family: 'OpenSans', sans-serif;
					font-size: 12px;
					color: #3a3a3a;
					display: inline;
				}
				input{
					display: inline;
					width: auto;
				}
			}
			.contribute-actions{
				padding-top: 15px;
				.button{
					color: #fff;
					font-family: 'Open Sans',sans-serif;
					font-size: 14px;
					text-transform: uppercase;
					line-height: 40px;
					border-radius: 2px;
					font-weight: lighter;
					&.cancel{
						background-color: #b7b7b7;
						padding: 0 30px;
						display: inline-block;
					}
					&.submit{
						padding: 0 60px;
						background-color: #9cbe15;
						border: 0 none;
						margin-left: 5px;
					}
				}
			}
		}
	.conversation-contributions{
		.contribution-container{
			padding: 0 10px;
			.contribution-header{
				padding: 15px 0;
				color: #a7c530;	
				line-height: 30px;
				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				text-transform: uppercase;
				border-bottom: 1px solid rgba(0,0,0,.3);
				a{
					color: #a7c530;	
					text-decoration: none;
					&:hover{
						text-decoration: none;
					}
				}
        i{
          color: #b9bec3;
          vertical-align: sub;
        }
				.header-icon{
					margin: 0 10px;
          i{
            color: #a7c530;
          }
				}
				img{
					margin-right: 3px;
          vertical-align: sub;
				}
				.contribution-info{
					border-right: 1px solid rgba(0,0,0,.3);
					span{
            margin-right: 10px;
            &:first-child{
              margin-left: 5px;
            }
            &:last-child{
              margin-right: 0;
            }
          }
				}
			}
			.contribution-content{
				padding-top: 15px;
				font-size: 15px;
				color: #3a3a3a;
				line-height: 26px;
			}
			

		}
	}
}
.private_labels-homepage{
  .content-area{
    section{
      padding: 0;
      .section-img{
        img{
          width: 100%;  
        }
        
      }
      .section-content{
        padding: 10px 25px 25px;
        a{
          h4{
            color: #9db641;
            font-size: 21px;
            line-height: 30px;
          }
        }
        .conversation-info{
          color: #9db641; 
          span{
            margin-right: 10px;
          }
        }
        .photobank{
          text-align: center;
          padding-top: 20px;
          padding-bottom: 10px;
          .user-image{      
            display: inline-block;
            
            img{
              border-radius: 20px;
              height: 40px;
              width: 40px;
              border: 2px solid #999999;
              overflow: hidden;
            }
          }
          .carousel-control{
            /* Firefox */
            top: -moz-calc(50% - 10px);
            /* WebKit */
            top: -webkit-calc(50% - 10px);
            /* Opera */
            top: -o-calc(50% - 10px);
            /* Standard */
            top: calc(50% - 10px);
            z-index: 5;
            display: inline-block;
            height: 20px;
            width: auto;
            &.right{
              right: -15px;
            }
            &.left{
              left: -15px;
            }
          }
          .col-md-4{
            padding: 0 5px;
          }
        }
      }
    }  
  }
  
}