#header-wrapper{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	text-transform: uppercase;
	background-color: rgba(0,0,0,.35);
	.with-borders{
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}
	.left-border{
		border-left: 1px solid #000;
	}
	a{
		color: #fff;
	}
	li{
		position: relative;
		overflow: visible;
		#profile-options{
			position: absolute;
			top: 50px;
			left: 0;
			background-color: rgba(0,0,0,.35);
			padding: 10px 15px;
			width: 100%;
			text-align: center;
			border-top: 1px solid #000;
		}
		#pl-search-form{
			position: absolute;
			top: 50px;
			right: 0px;
			background-color: rgba(0,0,0,.35);
			padding: 10px 15px;
			width: 283px;
			border-top: 1px solid #000;
			.submit{
				display: inline-block;
				float: right;
			}
		}
	}
	.nav-user-info{
		padding: 9.5px 15px;
		>a{
			padding: 0;
			display: inline-block;
			line-height: 30px;
		}
		img{
			border-radius: 15px;
			height: 30px;
			width: 30px;
			border: 1px solid #fff;
			overflow: hidden;
		}
		#profile-more{
			display: inline-block;
			line-height: 20px;
			border: 1px solid #fff;
			padding: 0 4px;
			margin-left: 5px;
			border-radius: 3px;
			font-size: 17px;
		}
	}
}
.header-second{
	letter-spacing: .7px;
	margin-bottom: 40px;
	.placeholder{
		background-color: #9cbe15;
		height: 200px;
		padding-top: 75px;
	}
	h1{
		font-family: 'Oswald', sans-serif;
		font-size: 36px;
		color: #fff;
		text-transform: uppercase;
	}
	h2{
		font-family: 'Oswald', sans-serif;
		font-size: 20px;
		color: #fff;
		.separator{
			margin: 0 12px;
		}
		img{
			vertical-align: sub;
			margin-right: 5px;
		}
	}
	.header-comment-count-wrapper{
		height: 100px;
		width: 100px;
		border: 3px solid #fff;
		border-radius: 50px;
		position: relative;
		img{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
		.header-comment-count{
			height: 26px;
			width: 26px;
			border-radius: 13px;
			background-color: #fff;
			position: absolute;
			right: 0px;
			text-align: center;
			line-height: 26px;
			color: #3a3a3a;
			font-size: 15px;
			font-family: 'Open Sans', sans-serif;
		}
	}
}

.private_label-homepage{
	.header-second{
		.placeholder{
			height: 50px;
			padding: 0;
		}
	}
}