@import "variables";

*{
	&:focus{
		outline: none;
	}
}
html, body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #f5f5f5;
}
.pl-content{
	min-height: 100%;
}
h2{
	color: #9cbe15;
	font-size: 20px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}
.login-modal {
  .modal-dialog {
    width: 380px;
    .modal-content {
      border-radius: 3px;
    }

    .modal-title {
      color: $green;
      text-transform: uppercase;
      font-family: Oswald;
      font-weight: 300;
      padding-bottom: 10px;
      position: relative;

      background: url('user_badge.png') top left no-repeat;
      padding: 0 0 10px 40px;
      margin: 15px 10px 0 20px;

      border-bottom: 2px solid $gray;
      &:after {
        content: "";
        display: block;
        height: 2px;
        width: 28px;
        background-color: $green;
        top: 100%;
        left: 0;
        position: absolute;
      }
    }
  }

  .modal-header {
    border-bottom: 0;
  }
}
