@import "compass/css3/inline-block";
@import "variables";

*{
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  &:focus{
    outline: none;
  }
}
a{
  &:hover{
    text-decoration: none;
  }
  &:focus{
    outline: none;
  }
}
html, body{
	height: 100%;
	font-family: $openSans;
	background-color: #f5f5f5;
}
.pl-content{
	min-height: 100%;
}

h1, h2, h3 {
  line-height: 2.5em;
	text-transform: uppercase;
	font-family: $oswald;
	margin: 0;
	color: $green;
}

h1 {
  font-size: 36px;
  line-height: 1.4em;
}

.header h1 {
  color: white;
}

h2{
	font-size: 20px;
}

h3 {
  color: lighten($darkGray, 20%);
  font-size: 16px;
}
.login-modal, .flag-modal {
  .modal-dialog {
    width: 380px;
    .modal-content {
      border-radius: 3px;
      color: #969696;
    }

    .modal-title {
        color: $green;
        text-transform: uppercase;
        font-family: $oswald;
        font-weight: 300;
        position: relative;
        padding-left: 40px;
        padding-top: 0;
        line-height: 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid $gray;
      .modal-header-icon{
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          /* Firefox */
          height: -moz-calc(100% + 2px);
          /* WebKit */
          height: -webkit-calc(100% + 2px);
          /* Opera */
          height: -o-calc(100% + 2px);
          /* Standard */
          height: calc(100% + 2px);
          border-bottom: 2px solid $green;
          span{
            display: inline-block;
            border-radius: 3px;
            line-height: 30px;
            background-color: $green;
            width: 30px;
            height: 30px;
            text-align: center;
            position: relative;
            color: #fff;
            i{
              padding-top: 5px;
            }
            img, i{
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              position: absolute;
            }
          }
        }
    }
  }

  .modal-header {
    border-bottom: 0;
    .close{
      z-index: 1000;
      position: relative;
    }
  }

  .modal-body {
    padding: 0 35px 35px;

    h3 {
      line-height: 1.4em;
      margin: 1em 0;
    }
  }
}

.tos {
  height: 300px;
  overflow-y: scroll;
  border: 2px solid #e7e7e7;
  padding: 10px 25px;
}

.agree-to-terms {
  padding: 20px 25px;
  margin-top: 2em;
  margin-bottom: 0;
  background-color: $lightGray;

  label {
    font-size: 16px;
    font-weight: normal;
    font-family: $oswald;
    margin: 0;
    color: darken($gray, 30%);
    text-transform: uppercase;
    padding-left: 1.5em;
    input[type=checkbox] {
      margin-left: -1.5em;
    }
  }
}

.register-form {
  position: relative;

  &:before {
    content: "";
    display: block;

    position: absolute;
    bottom: 100%;
    left: 90px;

    width: 0; 
    height: 0; 

    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid white;

  }
}

.form-control {
  font-size: 16px;
  height: 34px;
  border: 1px solid darken($gray, 20%);
  border-radius: 1px;
  &.input-sm{
    height: 26px;
    font-size: 10px;
  }
}

label {

  color: lighten($darkGray, 20%);
	font-family: $oswald;
  font-weight: normal;
  text-transform: uppercase;

  &:after {
    display: inline;
    content: " *";
    vertical-align: super;
    font-size: 0.7em;
    color: red;
  }

  &.label-small {
    text-transform: none;
    font-family: $openSans;
  }
}

.social-holder {
  border: 1px solid $gray;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,.1);
  font-size: 14px;

  &, > a, > div {
    display: inline-block;
    vertical-align: middle;
  }
  > a, > div {
    border-right: 1px solid $gray;
    &:last-child {
      border-right: 0 none;
    }
  }
  a {
    text-decoration: none;
  }

  .title {
    line-height: 40px;
    padding: 0 0.8em;
    border-right: 0 none;
    color: darken($gray, 30%);
  }

  .social-sign-in-button {
    width: 40px;
    height: 40px;
  }

  .social-link-sign {
    height: 100%;
    width: 100%;
    background: no-repeat center #FFF;

    &.facebook {
      border-left: 1px solid $gray;
      background-image: url('../sign-facebook.png');
    }
    &.twitter {
      background-image: url('../sign-twitter.png');
    }
    &.google_oauth2, &.google_plus {
      background-image: url('../sign-google.png');
    }
    &.linkedin {
      background-image: url('../sign-linkedin.png');
    }

  }
  .social-link-sign:hover {
    &.facebook {
      background-image: url('../sign-facebook-high.png');
      background-color: #05719f;
    }
    &.twitter {
      background-image: url('../sign-twitter-high.png');
      background-color: #0092cf;
    }
    &.google_oauth2, &.google_plus {
      background-image: url('../sign-google-high.png');
      background-color: #d0433a;
    }
    &.linkedin {
      background-image: url('../sign-linkedin-high.png');
      background-color: #3c8fb9;
    }
    &.email {
      background-image: url('../sign-email-high.png');
      background-color: #a7bb5d;
    }
  }
}

.register-options {
  margin-top: 2em;
}
.social-register-button {
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  margin-left: .5em;
  color: white;
  vertical-align: middle;
  > .icon {
    line-height: inherit;
  }

  &:hover {
    color: white;
    text-decoration: none;
  }

  &.facebook {
    background-color: #3d7aa2;
    &:hover {
      background-color: darken(#3d7aa2, 10%);
    }
  }
  &.twitter {
    background-color: #298fd0;
    &:hover {
      background-color: darken(#298fd0, 10%);
    }
  }
  &.linkedin {
    background-color: #468dba;
    &:hover {
      background-color: darken(#468dba, 10%);
    }
  }
  &.google-plus {
    background-color: #d0433a;
    &:hover {
      background-color: darken(#d0433a, 10%);
    }
  }

}

.register-options-group {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  .register-separator {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    text-align:center;
    margin-left: .5em;
    position: relative;
    background-color: white;
    &:after {
      border-left: 2px solid darken($gray, 20%);
      content: "";
      display: block;
      height: 45px;
      position: absolute;
      top: 0;
      left: 22px;
    }

    span {
      background-color: white;
      z-index:2;
      position: absolute;
      top: 50%;
      width: 45px;
      text-align:center;
      transform: translateY(-50%);
      left: 0;
      line-height: 1.4em;
      color: darken($gray, 20%);

    }
  }
}

.btn {
  padding: 9px 24px;
  line-height: 25px;
  border-radius: 1px;
  text-transform: uppercase
}

.btn-wide {
  width: 310px;
  text-align: center;
}

.btn-default {
  background-color: $midGray;
  border-color: $midGray;
  color: white;

  &:hover {
    color: white;
    background-color: darken($midGray,5%);
    border-color: darken($midGray,5%);
  }
}

.btn-success {
  background-color: $green;
  border-color: $green;

  &:hover {
    background-color: darken($green,5%);;
    border-color: darken($green,5%);;
  }
}

.search-highlight {
  background-color: transparentize($green, 0.5);
  padding: 0 0.4em;
  font-style: italic;
}

.search-result {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $gray;
  &:last-child {
    border-bottom: 0 none;
  }
}

.pagination {
  display: block;
  text-align: right;
  .previous_page, .next_page {
    color: white;
    background-color: $green;

    &.disabled {
      display: none;
    }
  }
  > * {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: $green;
    border-radius: 2px;
    &.current {
      color: white;
      background-color: darken($gray, 10%);
    }
  }
}
.carousel-control{
  color: rgba(0,0,0,.5);
  position: absolute;
  /* Firefox */
  top: -moz-calc(50% - 10px);
  /* WebKit */
  top: -webkit-calc(50% - 10px);
  /* Opera */
  top: -o-calc(50% - 10px);
  /* Standard */
  top: calc(50% - 10px);
  z-index: 5;
  display: inline-block;
  height: 20px;
  width: auto;
  &:hover, &:focus{
    color: rgba(0,0,0,.5);
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  &.right{
    background: none;
    text-shadow: none;
    right: -25px;
  }
  &.left{
    background: none;
    text-shadow: none;
    left: -25px;
  }
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  margin-left: 40px;
  border-bottom: 15px solid #fff;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}