@import "variables";

.pl-main-image{
	margin-bottom: 40px;
	.private-label-details{
		color: #fff;
		background-color: #000;
		padding: 30px;
		min-height: 300px;
		.header{
			h1{
				line-height: 40px;
			}
			h2{
				color: #fff;
				font-size: 22px;
				line-height: 26px;
			}
			.project-icon{
				font-size: 18px;
				margin-bottom: 5px;
				font-family: $oswald;
				text-transform: uppercase;
				img{
					vertical-align: baseline;
					margin-right: 8px;
				}
			}
		}
	}
}
