@import "variables";

.share-buttons{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	border-bottom: 2px solid $lightGray;
	.social{
		display: inline-block;
		padding: 0 4px;
		text-align: center;
		&:hover{
			text-decoration: none;
		}
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
		.share-icon-wrapper{
			width: 46px;
			height: 46px;
			border-radius: 23px;
			border: 2px solid;
			position: relative;
			display: inline-block;
			i{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				display: inline-block;
				height: 24px;
			}
		}
		&.linkedin{
			color: #1c5986;
			border-color: #1c5986;
			&:hover{
				color: darken(#1c5986, 5%);
				border-color: darken(#1c5986, 5%);
			}
		}
		&.twitter{
			color: #5c9cdb;
			border-color: #5c9cdb;
			&:hover{
				color: darken(#5c9cdb, 5%);
				border-color: darken(#5c9cdb, 5%);
			}
		}
		&.facebook{
			color: #4c60b0;
			border-color: #4c60b0;
			&:hover{
				color: darken(#4c60b0, 5%);
				border-color: darken(#4c60b0, 5%);
			}
		}
		&.private-label{
			color: $green;
			border-color: $green;
			&:hover{
				color: darken($green, 5%);
				border-color: darken($green, 5%);
			}
		}
	}
}

@media all and (max-width: 992px){
	.share-buttons{
		text-align: left;
		.social{
			padding: 0 10px;
		}
	}
}