// Colors
$green: #9dbb01;
$gray: #e4e6e8;
$darkGray: #636363;
$lightGray: #F5F5F5;
$midGray: #afafaf;
$red: #cb3625;
$orange: #f39633;
$blue: #317a8B;
$gold: #beab64;
$darkBlue: #627381;

$validation: #ff0000;

// Fonts
$openSans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
