<div class="search-result <%= parameterized_model_name contribution %>">
<h3><%= link_to "#{contribution.person.name} said on `#{contribution.conversation.title}`", contribution.conversation %></h3>

  <% if hit.highlights.any? %>
    <% hit.highlights.each do |highlight| %>
      <%= sanitize highlight.format { |word| content_tag(:span, word, class: 'search-highlight') } %>
    <% end %>
  <% else %>
    <%= sanitize(truncate(contribution.content, length: 200)) %>
  <% end %>
</div>
