
  <%= form_tag(private_labels_search_path, {:method => "get", :'accept-charset' => 'utf-8', :class => 'form-inline'}) do  %>
  	<div class="form-group">
		  <%= text_field_tag :q, params['q'], :class => 'form-control', :placeholder => 'Enter Keyword(s)' %>
  	</div>
    
    <%= hidden_field_tag(:filter, filter_type) if defined?(filter_type) and not filter_type.nil?  %>
    <%= submit_tag "Search", :class => 'btn btn-success', :id => 'Search', :name => nil %>
  <% end %>

