<% if can? :read, PrivateLabelPerson %>
	This beat is sick!
<% end %>

<div class="private">
	<% @conversations.each do |conversation| %>
		<%= link_to conversation.title, conversation %>
		<br>
	<% end %>
</div>