<h1>Welcome to The Civic Commons</h1>
<p>Welcome to The Civic Commons! We’re really glad you decided to join us in our goal of turning talk into action.</p>

<p>Now that we’ve got all the formalities out of the way, here are some suggestions for what to do next:</p>
<p>
  1. <%= link_to 'Join a conversation.', conversations_url %>
  There are many to choose from, covering a variety of different topic areas. If you’re here as part of a specific project, you can find the listing of all projects <%=link_to  'here', projects_url %>. Come on in, the water’s fine!
</p>

<p>
  2. <%= link_to 'Start a conversation.', new_conversation_url %>
  Maybe you still haven’t found what you’re looking for – so, pave the trail yourself and start a new conversation. You never know where it may lead.
</p>

<p>
Either of those options is a great starting point. If you need any help, just <%= mail_to 'mikeshafarenko@theciviccommons.com', 'email me' %>.
</p>

<p>
See you on the Commons!
</p>

<p>
Mike Shafarenko
<br/>
President
</p>

