<%

link_text = ''

if contribution.content.blank?
  if contribution.title.blank?
    link_text << '.'
  else
    link_text << contribution_action_past_tense( contribution )
    link_text << ': "'
    link_text << contribution.title
    link_text << '"'
  end
else
  link_text << '"'
  link_text << truncate( Sanitize.clean( contribution.content, :remove_contents => ['script'] ).strip, :length => embed_activity_length, :separator => ' ' )
  link_text << '"'
end

%>

  <h4><%= link_to( contribution.item_title, contribution_item_url(contribution)) unless controller.controller_name == "conversations" %></h4>

  <div class="">
    <%= link_to "#node-#{contribution.id}", class: "show-contribution", title: "Show Contribution" do %>
      <i class="icon-reply"></i>
    <% end %>
    <%= render partial: "user/author_card", locals: {author: contribution.person, conversation_created_at: contribution.created_at} %>
    <%= link_text %>
  </div>

