<div class="comment">
  <img src="/assets/avatar_60.gif" width="80" />
  <div class="name">
    Anonymous
  </div>
  <div class="date">
    on <%= DateTime.now.strftime('%B %d, %Y') %>
  </div>
  <div class="body">
    <div class="new-contribution editable">
      <div class="contribution-blocked" name="top-level-contribution" disabled="disabled">
        <a href="/people/login">Login</a> or <%= link_to 'Register', registrations_principles_path %> to contribute to this conversation
      </div>
    </div>
  </div>
</div>

