<% if conversations.present? %>
<h3><%= @subtitle.blank? ? "Take Note" : @subtitle %></h3>
<div class="three-col-sm">
  <% conversations.each_slice(3).first.each do |conversation| %>
    <%= render :partial => '/conversations/conversation_panel', :locals => {:conversation => conversation} %>
  <% end %>
</div>
<div class="row">
  <%= link_to "See All", conversations_filter_url(:recommended), :class => 'button button-primary fl-right' %>
</div>
<% end %>

