<% if conversations.present? %>
  <h3><%= @current_topic ? @subtitle : "All Conversations" %></h3>
  <% conversations.each_slice(3) do |conversation_mini_array|%>
    <div class="three-col-sm">
      <% conversation_mini_array.each do |conversation| %>
        <%= render :partial => '/conversations/conversation_panel', :locals => {:conversation => conversation} %>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate conversations, :inner_window => 3, :previous_label => "Previous", :next_label => "Next" %>
<% end %>
