<div class="three-col-sm">
  <% conversations.each do | conversation| %>
    <%= render :partial => '/conversations/conversation_panel', :locals => {:conversation => conversation} %>
  <% end %>
</div>
