<div class="activity">
  <h4></h4>
  <div class="offset-2">
    <a href="http://localhost:3000/user/kyle-balderson--2" title="Kyle Balderson"><img alt="Kyle Balderson" class="callout" height="40" src="http://gravatar.com/avatar/c56d53d12264667a62cf577391209cb2?d=404" title="Kyle Balderson" width="40"></a>
    <p>
      <strong><a href="http://localhost:3000/user/kyle-balderson--2">Kyle Balderson</a></strong> -
      "test"
    </p>
    <p><a href="http://localhost:3000/conversations/connecting-in-pittsburgh#node-13895" class="read-more">Continue Reading</a></p>
  </div>
</div>
