<div class="comment">
  <%= avatar_profile(person, 80, nil) %>
  <div class="name">
    Anonymous
  </div>
  <div class="date">
    on <%= DateTime.now.to_s %>
  </div>
  <div class="body">
    <div class="new-contribution editable">
      <div class="contribution-blocked" name="top-level-contribution" disabled="disabled"><a href="#">Login</a> or <a href="#">Register</a> to contribute to this conversation</div>
    </div>
  </div>
</div>

