.main-content
  #show_conversation
    %input{:type=>"hidden", :id=>"conversation_id", :value=>"#{@conversation.id}"}
    %input{:type=>"hidden", :id=>"post_model_type", :value=>"Comment"}
    - unless @top_level_contributions.empty?
      %ol.conversations.divided.thread-list
        - @top_level_contributions.each do |contribution|
          =render :partial => "show_contribution", :locals => { :contribution => contribution }
    %ol.conversations.divided.thread-list
      - unless @conversation_contributions.empty?
        =render :partial => "threaded_contribution_template", :locals => { :ratings => @ratings }, :collection => @conversation_contributions, :as => :contribution
    -if current_person
      %div{:id => 'contribution_tool_container'}
        =render :partial => 'conversations/contribution_tool', :locals => { :conversation => @conversation, :contribution => @contribution }
