<div id="recent-activity" class="aside supplementary recent-activity">
  <h3>Recent Activity</h3>
  <div class="activities">
    <div class="activity">
      <img src="//placehold.it/40" />
      <div class="content">
        <p>Lorem ipsum dolor sit amet. Suspendisse porttitor sed nunc sed consequat. Cras vehicula nec arcu et tincidunt.</p>
      </div>
    </div>
    <div class="activity">
      <img src="//placehold.it/40" />
      <div class="content">
        <p>Lorem ipsum dolor sit amet. Suspendisse porttitor sed nunc sed consequat. Cras vehicula nec arcu et tincidunt.</p>
      </div>
    </div>
    <div class="activity">
      <img src="//placehold.it/40" />
      <div class="content">
        <p>Lorem ipsum dolor sit amet. Suspendisse porttitor sed nunc sed consequat. Cras vehicula nec arcu et tincidunt.</p>
      </div>
    </div>
    <div class="activity">
      <img src="//placehold.it/40" />
      <div class="content">
        <p>Lorem ipsum dolor sit amet. Suspendisse porttitor sed nunc sed consequat. Cras vehicula nec arcu et tincidunt.</p>
      </div>
    </div>
    <div class="activity">
      <img src="//placehold.it/40" />
      <div class="content">
        <p>Lorem ipsum dolor sit amet. Suspendisse porttitor sed nunc sed consequat. Cras vehicula nec arcu et tincidunt.</p>
      </div>
    </div>
    <div class="activity">
      <img src="//placehold.it/40" />
      <div class="content">
        <p>Lorem ipsum dolor sit amet. Suspendisse porttitor sed nunc sed consequat. Cras vehicula nec arcu et tincidunt.</p>
      </div>
    </div>
    <div class="activity">
      <img src="//placehold.it/40" />
      <div class="content">
        <p>Lorem ipsum dolor sit amet. Suspendisse porttitor sed nunc sed consequat. Cras vehicula nec arcu et tincidunt.</p>
      </div>
    </div>
    <div class="activity">
      <img src="//placehold.it/40" />
      <div class="content">
        <p>Lorem ipsum dolor sit amet. Suspendisse porttitor sed nunc sed consequat. Cras vehicula nec arcu et tincidunt.</p>
      </div>
    </div>
  </div>
</div>

