<div class="convo-create-sm">
  <a href="<%= new_conversation_path %>">
    <div class="media">
      <div class="img mrl"><img src="/assets/convo.png" alt="" /></div>
      <div class="bd"><div class="h1">Start</div> <div class="h2 mbs">a Convo</div> <strong>Add your 2 cents</strong></div>
    </div>
  </a>
</div>
