<li>
  <ul class="event-details">
    <li>
      <strong>Event:</strong>
      <em>Roundtable Q&A </em>
    </li>
    <li>
      <strong>When:</strong>
      May 24, 2010, 7:00 PM
    </li>
    <li>
      <strong>Where:</strong>
      <a class="text button">(href="#" title="City Club of Cleveland") City Club of Cleveland</a>
    </li>
  </ul>
</li>
