<% content_for :header do %>
  <%# NOTE: I thought we were doing away with these JS snippets? If we're no longer
  -# supporting IE7 we should ditch them. %>

  <!--[if lt IE 9]>
    <script src="/assets/ie7_js/IE9.js?body=1" type="text/javascript"></script>
  <![endif]-->
  <!--[if IE 7]>
    <script src="/assets/ie7_js/ie7-recalc.js?body=1" type="text/javascript"></script>
  <![endif]-->
<% end %>

<div class="wrapper">
  <div class="content-container">
    <%= render :partial => "conversation_main_thread" %>

    <%= render :partial => "conversation_show_aside" %>

    <% if @new_conversation %>
      <%= render :partial => 'conversation_action_modal.js', :locals => {:conversation => @conversation} %>
    <% end %>

  </div>
</div>

