<div class="contribution">
  <div ng-bind-html="contribution.content"></div>

  <div class="contributions">
    <div ng-repeat="contribution in contribution.contributions" ng-include="'<%= asset_path 'embed/ng/templates/contributions/contribution.html' %>'"></div>
  </div>
</div>

