<div ng-hide="contributions_loaded">Contributions Loading...</div>

<div ng-repeat="contribution in contributions" ng-include="'<%= asset_path 'embed/ng/templates/contributions/contribution.html' %>'"></div>
