<div class="contribute">
  <div errors="errors"></div>
  <account-avatar></account-avatar>
  <div class="form">
    <form name="contributeForm" class="contribution-form" ng-submit="submitComment()">
      <div class="body">
        <wysiwyg ng-model="contribution" active="{{activeVariable}}"></wysiwyg>
      </div>
      <button class="btn btn-submit">Post <i ng-show="busy" class="fa fa-spinner fa-spin"></i></button>
      <a href ng-click="cancel()" class="btn btn-plain">Cancel</a>
    </form>
  </div>
</div>
