<div class="mod">
  <h3>Filter Conversations by Topic</h3>
  <ul class="simple-list block-link-list topics">
    <% topics.each do |topic| %>
      <li>
        <%= conversation_topic_filter(topic) %>
        <% if topic.id.to_s == params[:topic] %>
          <%= link_to image_tag('removex.png'), conversations_path, :class=>"remove-filter", :title => 'Remove filter' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
