<div class="mod">
  <h3>Filter Conversations by Topic</h3>
  <ul class="simple-list block-link-list topics">
    <% topics.each do |topic| %>
      <li>
        <%= conversation_topic_filter(topic) %>
        <% if topic.id.to_s == params[:topic] %>
        <%= link_to image_tag('blank.png'), conversations_path, :class=>"remove-filter", :border=>"5", :title => 'Remove filter' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<style>

.simple-list li {
  position:relative;
}
.remove-filter {
  position:absolute;
  top: 7px;
  right: 3px;
  z-index: 1;
  border-bottom: none;

}

.simple-list ul {
  border-bottom: none;
}
ul.remove-filter {
  border-bottom: none;
}

</style>