<ul class="nav nav-pills nav-stacked">
  <li><%= admin_sidebar_link_to 'Dashboard', private_labels_admin_root_path %></li>
  <li><%= admin_sidebar_link_to 'Manage Private Label', '' %></li>
  <li><%= admin_sidebar_link_to 'Manage Sidebar', edit_private_labels_admin_sidebar_path %></li>
  <li><%= admin_sidebar_link_to 'Manage Pages', private_labels_admin_pages_path %></li>
</ul>
