<% if contribution.parent and contribution.parent.person.id != contribution.person.id %>
  <%  contributer = (@person == contribution.person ? 'you' : contribution.person.name)  %>
  <p><%= "In response to #{contribution.parent.person.name}, #{contributer}" %> added:
  <blockquote>
    <%= contribution.content.html_safe %>
  </blockquote>
  </p>
<% else %>
  <p><%= "#{contribution.person.name}" %> added:
  <blockquote>
    <%= contribution.content.html_safe %>
  </blockquote>
  </p>
<% end %>
