<% type = recent_item.item.class.to_s %>
<div class="activity <%= css_classes ||= "" %>">
  <%= render :partial => "shared/conversation_recent_items/#{type.underscore}", :object => recent_item.item %>
</div>
