<% if contribution.url.present? and contribution.embedly_type %>
  <div class='link-meta'>
    <div class="image">
      <%= raw EmbedlyService.to_embed_or_fancybox(contribution, 200) %>
    </div>
    <div class='embed-content'>
      <h3><%= link_to contribution.title, contribution.url, target: "_blank" %><span class="source"> - <%= link_to contribution.base_url.sub(/https?:\/\//i, ''), contribution.base_url, target: "_blank" %></span></h3>
      <p id='content link-quot'>
        <%= raw contribution.description %>
      </p>
    </div>
  </div>
<% end %>

