<div class="content-inner">
  <%= format_comment(contribution) %>&nbsp;
</div>
<%= render :partial => '/contributions/contribution_embedly', locals: {contribution:contribution} %>
<%= render :partial => '/contributions/contribution_attachment_file', locals: {contribution:contribution} %>
