<div class="contribution-attachments">
  <div class="add-link button tertiary" rel="link">
    <i class="icon-link icon icon-large"></i>
    <div class="text">
      Add a link to a related website
    </div>
    <div class="input">
      <%= form.text_field :url %>
      <i class="icon-remove-sign icon-large close"></i>
    </div>
  </div>

  <div class="add-file button tertiary" rel="file">
    <div class="text">
      <i class="icon-picture icon icon-large"></i> Upload a photograph, document, or other file
    </div>
    <div class="input">
      <%= form.file_field :attachment %>
      <i class="icon-remove-sign icon-large close"></i>
    </div>
  </div>
</div>

