<% if contribution.attachment_file_name %>
  <% if contribution.attachment_content_type =~ /^image/ %>
    <div class='attached-file'>
      <%= link_to(image_tag(contribution.attachment.url(:medium)).html_safe, contribution.attachment.url(:large), {'data-colorbox' => true}) %>
    </div>
  <% else %>
    <div class='attached-file'>
      <%= link_to("Download attached file", contribution.attachment.url, {:target => :blank}) %>
    </div>
  <% end %>
<% end %>

