<footer class="footer">
  <div id="footer-inner" class="container">
    <div class="row">
        <div class="col-md-3" id="footer-logo">
          <a class="navbar-brand" href="#">Footer Logo</a>
        </div>
        <div class="col-md-9">
          
          <ul class="nav navbar-nav social-media navbar-right">
            <li>
              <a class="social-media-ico facebook_ico" href="http://www.facebook.com/pages/Civic-Commons/143930632284131">Facebook</a>
            </li>
            <li>
              <a class="social-media-ico twitter_ico" href="http://twitter.com/civiccommons">Twitter</a>
            </li>
            <li>
              <a class="social-media-ico youtube_ico" href="http://www.youtube.com/user/neociviccommons">YouTube</a>
            </li>
            <li>
              <a class="social-media-ico rss_ico" href="<%= feeds_url %>">RSS</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'About Us', about_url %>
            </li>
            <li>
              <%= link_to 'Terms of Service', team_url %>
            </li>
          </ul>
        </div>
    </div>
  </div>
</footer>
<div class="footer-legal">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        Conversation text and related responses copyright &copy; The Civic Commons and are available under the <u>Creative Commons Attribution- NonCommercial- ShareAlike License;</u> additional terms may  apply.
      </div>
    </div>
  </div>
</div>