<div class="button tertiary" id="follow" >
  <a href="/subscriptions/subscribe?type=<%= subscribable_type %>&id=<%= subscribable_id %>" title="Follow" class="" data-remote="true" data-method="POST" data-target="#subscription" rel="nofollow">
	<i class="convo-icons-sm convo-icons-xsm-star" width="10px" height="10px"></i> Follow</a>
</div>
