<a href="/subscriptions/subscribe?type=<%= subscribable_type %>&id=<%= subscribable_id %>" title="Follow" id="follow" class="button button-mini tertiary" data-remote="true" data-method="POST" data-target="#subscription" rel="nofollow">Follow</a>
