<a href="/subscriptions/unsubscribe?type=<%= subscribable_type %>&id=<%= subscribable_id %>" title="Stop Following" id="follow" class="button button-mini tertiary" data-remote="true" data-method="POST" data-target="#subscription" rel="nofollow">Following</a>
