<div class="button tertiary" id="follow" ><a href="/subscriptions/unsubscribe?type=<%= subscribable_type %>&id=<%= subscribable_id %>" title="Stop Following" class="" data-remote="true" data-method="POST" data-target="#subscription" rel="nofollow">
	<i class="convo-icons-sm convo-icons-xsm-star" width="10px" height="10px"></i> Following</a>
</div>
