<div class="author-card large">
  <%= author_card(author, 80) %>
  <div class="name">
    <%= text_profile(author) %>
  </div>
  <div class="date">
    on <%= conversation_created_at.to_s %>
  </div>
</div>

