<head>
	<%= stylesheet_link_tag '_bootstrap' %>
</head>

<body>
	<%= render partial: 'private_label/shared/admin_header' %>

	<%= yield %>

	<%= render partial: 'private_label/shared/admin_footer' %>
</body>