// Arrow box for hero module

.arrow_box {
	padding: 10px;
	position: relative;
	background: #eee;
	border: 1px solid #ccc;
  @include border-radius(4px);
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-top-color: #eee;
	border-width: 10px;
	left: 10%;
	margin-left: -10px;
}

.arrow_box:before {
	border-top-color: #ccc;
	border-width: 11px;
	left: 10%;
	margin-left: -11px;
}

// Arrow box for conversation reboot

.arrow_box_left {
	padding: 10px;
	position: absolute;
  top: 0;
  right: 0;
	background: #fff;
	border: 1px solid #ccc;
  @include border-radius(4px);
}

.arrow_box_left:after, .arrow_box_left:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_left:after {
	border-color: transparent;
	border-right-color: #fff;
	border-width: 10px;
	top: 25px;
	margin-top: -10px;
}

.arrow_box_left:before {
	border-color: transparent;
	border-right-color: #aaa;
	border-width: 11px;
	top: 25px;
	margin-top: -11px;
}
