// Coversation reconcept styles

.contribution-primary {
  position: relative;
  padding: 0 320px 20px 0;

  .actions {
    padding-left: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  &:last-child .actions {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.contribution-secondary {
  width: 280px;
  z-index: 1000;
}
