.main-content.conversation {
  width: 600px;
}

.main-content-left {
  width: 140px;
}
.main-content-right {
  width: 440px;
}

.content-container {
  h1 {
    margin-bottom: 10px;
  }

  .aside {
    width: 300px;
    margin-bottom: 20px;
    h3 {
      position: relative;
      padding-bottom: 0;
      padding-top: 5px;
      .see-all {
        display: inline-block;
        font-size: 11px;
        font-weight: normal;
        position: absolute;
        right: 0;
      }
    }
  }

  .participants-container,.moderators-container {
    @include pie-clearfix;
    .pager-arrow {
      height: 40px;
      width: 25px;
      line-height: 40px;
      font-size: 25px;
      color: #AAA;

      &.left {
        float: left;
        text-align: left;
      }
      &.right {
        float: right;
        text-align: right;
      }
    }
  }
  .participants-container {
    .pager-arrow {
      margin-top: 60px;
    }
  }
  .participants, .moderators {
    float: left;
    .page {
      @include pie-clearfix;
      width: 250px;
    }
    .participant, .moderator {
      height: 40px;
      width: 120px;
      line-height: 40px;
      float: left;
      margin-bottom: 15px;
      margin-right: 5px;
      white-space: nowrap;
      overflow: hidden;

      img {
        float: left;
        margin-right: 5px;
      }
    }

  }
}

#participants {

  .participants-inner {
    -webkit-transition: width 0s;
    transition: width 0s;
  }

  &.expanded {
    z-index: 10;
    position: relative;

    .participants-inner {
      -webkit-transition: width 0.5s;
      transition: width 0.5s;
      overflow-y: hidden;
      box-shadow: -1px 1px 4px -1px rgba(0,0,0,.5);
      position: absolute;
      width: 780px;
      right: 0;
      background: #efefef url(/assets/body_bg.gif) repeat;
    }
    h3 {
      padding: 5px 10px 0;
    }
    .see-all {
      margin-right: 10px;
    }
    a.pager-arrow {
      display: none;
    }
    .page {
      display: block !important;
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      width: auto;
      height: auto;
    }
    .participants {
      width: 770px !important;
      padding: 0 10px;
    }
  }
}

.author-card {
  margin-bottom: 10px;
  .image {
    float:left;
    margin-right: 10px;
  }
  .name {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 0 3px 0;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.mini {
    margin-bottom: 7px;
    .name, .date {
      display: inline;
    }
    .date:before {
      content: "-"
    }
  }
  &.small {
    .image {
      width: 40px;
    }
  }
  &.large {
    .image {
      width: 80px;
    }
  }
}

.conversation-starter {
  padding: 10px;
  border-left: 10px solid rgb(136,184,204);
  background-color: rgba(136,184,204,.3);
  h3 {
    border-bottom-color: rgb(136,184,204);
  }
  .body {
    padding: 0 10px;
  }
}

.sticky-wrapper {
  .contribute {
    background: #efefef url(/assets/body_bg.gif) repeat;
  }
}
.what-do-you-think {
  @include pie-clearfix;
  padding: 0 0 10px;
  h2 {
    margin: 10px 0;
    font-weight: bold;
    font-style: italic;
  }
  .comment {
    img {
      float: left;
      display: block;
      margin-right: 10px;
    }
    .name {
      font-weight: bold;
      font-size: 1.2em;
      padding-top: 5px;
    }
    .body {
      width: 500px;
      margin: 5px 0 0 90px;
      textarea {
        width: 100%;
      }
    }
  }
}
.take-action {
  .take-action-section {
    display: block;
    @include pie-clearfix;
    margin: 10px 0;
    .take-action-icon {
      width: 45px;
      height: 50px;
      margin-right: 10px;
      background: url("/assets/clipboard-icons.png") top left no-repeat;
      float: left;
      &.votes {
        background-position: 0px -50px;
      }

    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
      padding: 5px 0 3px;
    }
  }
}

.contribute-actions {
  text-align: right;
  padding: 10px;
  .button {
    &:last-child {
      margin-right: 0;
    }
  }
}

.threads-controls {
  border-top: 1px solid #c3c6cd;
  padding: 5px 0;
}
.threads {

  .thread {
    @include pie-clearfix;
    overflow-y: hidden;
    margin: 20px 0 0;
    padding: 10px 0;
    border-bottom: 1px solid #c3c6cd;
    &:last-child {
      border-bottom: 0 none;
    }
    > .content {
      margin-left: 90px;
    }
    .primary {
      width: 600px;
      float: left;
    }
    .responses {
      width: 290px;
      float: right;
      max-height: 280px;
      overflow-y: scroll;
    }
    .response {
      border-bottom: 1px solid #c3c6cd;
      overflow: hidden;
      padding: 10px 0;
      position: relative;
      .actions {
        display: none;
      }
      &:after {
        display: block;
        content: "...";
        position: absolute;
        bottom: 8px;
        right: 5px;
        width: 40px;
        background: #efefef url(/assets/body_bg.gif) repeat;

      }

      .response-inner {
        height: 50px;
        overflow: hidden;
      }

      .author-card {
        display: inline;
        .name {
          display: inline;
          text-decoration: none;
        }
        .date {
          display: none;
        }
      }
      .content {
        overflow-y: hidden;
        &:before {
          content: " - ";
          display: inline;
        }
        &, & p {
          display: inline;
        }
      }
    }

    &.expanded {
      width: 600px;
      .responses {
        margin: 10px 0 0 90px;
        width: 510px;
        height: auto;
      }
      .readmore-inner {
        height: auto !important;
      }
      a.readmore {
        display: none !important;
      }
      .responses {
        max-height: none;
      }
    }
    .response.new-response {
      float: left;
      margin-top: 10px;
    }
    &.expanded .response, .response.new-response {
      overflow: initial;
      .actions {
        display: block;
      }
      &.new-response {
        margin-left: 90px;
      }
      border-bottom: 0 none;
      border-top: 1px solid #c3c6cd;
      display: block;
      &:after {
        content: "";
        display: none;
      }
      .author-card {
        display: block;
        .name {
          display: block;
        }
        .date {
          display: inline;
        }
      }
      .response-inner {
        height: auto;
        overflow: initial;
      }
      .content {
        display: block;
        height: auto;
        margin-left: 50px;
        p {
          display: block;
        }
        &:before {
          content: "";
          display: none;
        }
      }

      .thread-reply {
        width: 510px - 50px - 12px;
        margin: 0;
      }
      &.new-response {
        .content {
          width: 510px - 50px - 6px;
          display: block;
        }
      }
    }
    .response.new-response {
      .author-card {
        .name {
          display: inline;
        }
      }
    }

  }
}

#contribute-sticky-wrapper {
  z-index: 5;
  display: block;
}
#contribute {
  position: relative;
  z-index: 5;
  width: 940px;
  border-bottom: 1px solid #c3c6cd;
  background: #efefef url(/assets/body_bg.gif) repeat;
  > .inner {
    @include pie-clearfix;
    width: 940px;
    background: url(/assets/header_bg.png) no-repeat bottom center;
  }
}
.is-sticky {
  .recent-activity {
    //border-top: 1px solid #cdcdcd;
  }
}
.recent-activity {
  position: absolute;
  right: 0;
  display: none;
  margin-top: -37px;
  z-index: 6;
  //border: 1px solid #cdcdcd;
  //border-top: 0 none;
  background: #efefef url(/assets/body_bg.gif) repeat;
  h3 {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    margin: 0;
    padding: 0;
    line-height: 36px;
  }
  .activities {
    height: 400px;
    overflow-y: scroll;
    .activity {
      @include pie-clearfix;
      padding: 10px 0;
      img {
        float: left;
        width: 40px;
        margin: 0 10px 0 0;
      }
      .content {
        float: left;
        width: 220px;
      }
      border-bottom: 1px dotted #cdcdcd;
    }
  }
}

.wrapper.nospace {
  padding-top: 0;
}

.readmore a.readmore {
  text-decoration: none;
  background-image: url(/assets/readmore-fade.png);
  background-repeat: repeat-x;
  background-position: top left;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;

  &:hover {
    text-decoration: underline;
    color: #444;
  }
}

.actions {
  .action {
    background-image: url('/assets/convo-icons-sm-sf51f638656.png');
    background-repeat: none;
    float: right;
    margin-left: 10px;
    width: 33px;
    height: 33px;
    display: block;
    &.mark {
      background-position: 0 -134px;
    }
    &.expand {
      background-position: 0 -236px;
      position: relative;
      .response-count {
        width: 14px;
        height: 14px;
        line-height: 12px;
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: #6a727f;
        border: 2px solid white;
        border-radius: 10px;
        text-align: center;
        font-size: 10px;
        color: white;

      }
    }
    &.flag {
      background-position: 0 0;
    }
    ul {
      display: none;
    }
    &.expanded {
      position: relative;
      &:after {
        position: absolute;
        top: 33px;
        left: 12px;
        display: block;
        width: 10px;
        height: 5px;
        background-image: url(/assets/mark-reply-as-arrow.png);
        content: "";
      }
      ul {
        display: block;
        position: absolute;
        top: 38px;
        right: 0;
        background-color: white;
        list-style: none outside;
        width: 150px;
        border-radius: 5px;
        box-shadow: 1px 1px 4px rgba(0,0,0,.5);
        border: 2px solid #88b8cc;
        z-index: 2;

        padding: 0;
        &:before {
          content: "Mark Reply As:";
          font-weight: bold;
          width: 100%;
          border-bottom: 2px solid #88b8cc;
          text-indent: 5px;
          display: block;
        }
        li {
          padding: 0 5px;
          margin: 0;
          height: 20px;
          line-height: 20px;
          border-bottom: 1px solid #88b8cc;
          a {
            display: block;
            text-decoration: none;
            .count {
              float: right;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

textarea {
  &[disabled] {
    background-color: #EEE;
  }
}

.editable {
  .contribution-attachments, .contribute-actions {
    display: none;
  }
  &.editor-active {
    .contribution-attachments, .contribute-actions {
      display: block;
    }
  }
}

.contribution-blocked {
  background-color: #EEE;
  border: 1px solid #000;
  height: 30px;
  line-height: 15px;
  padding: 0 5px;
  a {
    font-weight: bold;
  }
}
.contribution-attachments {
  @include pie-clearfix;
  padding: 10px;
  > a {
    @include transition(width 0s);
    @include box-sizing(border-box);
    float: left;
    display: block;
    width: 45%;
    text-align: left;
    .icon {
      height: 32px;
      line-height: 32px;
      float: left;
      display: block;
      margin-right: 10px;
    }
    .text {
      display: block;
    }
    .input {
      display: none;
      input {
        @include box-sizing(border-box);
        width: 80%;
        border: 1px solid #cccccc;
        padding: 5px;
      }
    }
    &.add-file {
      float: right;
      margin-right: 0;
    }
  }
  &.link {
    .add-link {
      @include transition( width 0.3s );
      width: 100%;
      .text {
        display: none;
      }
      .input {
        display: block;
      }
    }
    .add-file {
      display: none;
    }
  }
  &.file {
    .add-file {
      @include transition( width 0.3s );
      width: 100%;
      .text {
        display: none;
      }
      .input {
        display: block;
      }
    }
    .add-link {
      display: none;
    }
  }
}
.post-admin {
  float: right;
  line-height: 30px;
}

.activity, .thread, .response {
  background-color: transparent;
  @include transition( background-color 0.3s );
  &.new {
    background-color: rgba(248, 252, 172, 0.5);
    @include transition( background-color 0s );
  }
}

