.notification-container {
  position: relative;
  float: right;

  .dropdown-menu {
    overflow-x: scroll;
    max-height: 350px;

    li {
      margin: 5px;

      a {
        text-decoration: none;
      }
    }

    > li > a {
      display: block;
    }
  }
}

.notification-main {
  height: 40px;
  width: 58px;
  cursor: pointer;
  background: image-url("notification_main.png") no-repeat top;
}

.notification {
  @include border-radius(15px);
  @include box-shadow(0 1px 1px rgba(0,0,0,.3));
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 4px 3px;
  min-width: 11px;
  background-color: #777;
  color: #fff;
  line-height: 1;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0,0,0,.3);
  border: 3px solid #fff;
}

.notification-info {
  background-color: #b73123;
}

.notification-inactive {
  background-position: bottom;

  .notification {
    display: none;
  }
}

.notification-wrap {
  position: relative;

  .notification {
    top: -3px;
    right: -2px;
  }
}
