<% if @page.sidebar? %>
  <% content_for :sidebar do %>
    <section>
      <%= render partial: 'private_labels/shared/sidebar' %>
    </section>
  <% end %>
<% end %>

<% content_for :header_second do %>
  <div class="container header-spacer">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @page.title %></h1>
      </div>
    </div>
  </div>
<% end %>

<section>
  <%= simple_format @page.content %>
</section>
