<p>
  <%= petition_signature.person.display_name %> signed a petition:
  <blockquote>
    <%= petition_signature.petition_title.html_safe %><br/>
    <%= petition_signature.petition_description.html_safe %>
  </blockquote>
</p>
