<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Civic Commons</title>
    <%= stylesheet_link_tag 'application', :media => "screen, projection" %>
    <plain>
      
      <!--<![endif]-->

    </plain>
    <css>
      
      body#facebook-pop {margin: 0; padding: 0;}
      #facebook-pop h1 {font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 100%; color: #FFF; background: #6D84B4; padding: 5px 10px; margin: 0 0 10px;}
      #facebook-pop p {font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 80%; color: #000; margin-left: 15px;}


    </css>
  </head>
  <body id="facebook-pop">
    <%= yield %>
  </body>
</html>
